h1 {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
}

img {
    width: auto;
}
div {
    background-color: #f3ecd3;
}

/* Navbar */
#title {

    font-family: 'Open Sans', sans-serif;
    background-color: #333333;
}

.nav-item {
    padding: 0 10px;
    background-color: #333333;
}

.nav-link {
    font-size: 1.2rem;
}

#navbarTogglerDemo01 {
    background-color: #333333;
}

/* Showcase */
#showcase {

    min-height: 450px;
    background:url("../images/DragonPic.jpg") no-repeat -200px -150px;
    color: #ffffff;

}

@media (max-width: 1024px) {
    #showcase {

        min-height: 400px;
        background:url("../images/DragonPic.jpg") no-repeat -300px -180px;
    }
}

@media (max-width: 767px) {
    #showcase {
        min-height: 350px;
        background:url("../images/DragonPic.jpg") no-repeat -700px -240px;
        position: relative;
    }

}

#image-header {
    position: absolute;
    top: 140px;
    left: 300px;
    background: rgba(20, 12, 10, .7);
    padding: 0 10px 0 10px;
}

@media (max-width: 1024px) {
    #image-header {


        top: 200px;
        left: 280px;
    }
}

@media (max-width: 767px) {
    #image-header {

        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        bottom: 0;
        top: 250px;
    }
}

/* Features Section */
#features {

    padding: 5% 6%;
}

.feature-box {

    text-align: center;
    padding: 5%;
}

.icon {

    margin-bottom: 1rem;
}

/* Carousel Section */
.testimonials-show-case {
    margin: 0;
    padding: 0;
}

#testimonials {
    width: 760px;
    height: 600px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media (max-width: 767px) {

    #testimonials {
        width: auto;
    }
}

#testimonials .pic1 {
    margin-left: -200px;
}

#talkSpan1 {

}
#talktext1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    background: rgba(20, 12, 10, .7);
}

/* Card section/Pricing */

#pricing {
    padding: 100px;
    background-color: #f3ecd3;
    text-align: center;
}

@media (max-width: 1024px){
    #pricing {
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
    }
}

#card-text-big {

    color: #333333;
}

.pricing-column {
    padding: 3% 2%;
}

.pricing-row {
    margin: 0;
}

/* Footer Section */

#footer {
    padding: 2% 10%;
    text-align: center;
    background-color: #333333;
    color: white;
}

.social-icon {
    margin: 20px 10px;
}